# template .gitignore for R packages

# R
*.Rhistory
*.Rapp.history
# comment out following line to link to vignette html on github
inst/doc
vignettes/.build.timestamp
vignettes/svcommon_cache

# C++
*.o
*.so
*.dll

# osx
*.DS_Store

doc
Meta
